configure terminal
no logging console
{% for interface_name, interface_data in data.items() -%}
interface {{ interface_name }}
ip address {{ interface_data.address }} {{ interface_data.mask }}
no shutdown
exit
{% endfor %}
router ospf 1
{%- for interface_data in data.values() %}
network {{ interface_data.network_address }} {{ interface_data.wildcard_mask }} area 0
{%- endfor %}
exit
logging console
end